:root {
    --primary-color: blueviolet;
    --primary-color-light: violet;
    --secondary-color: aquamarine;
    --secondary-color-dark: rgb(41, 229, 166);

    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, ul {
    background-color: black;
    margin: 0;
    padding: 0;
}

#nav {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
}

nav ul li {
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--primary-color);
}

.attached-div {
    flex: 1;
    display: flex; 
    align-items: center; 
    width: 100%;
    height: 450px;
    background-image: url('../assets/img/back2.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    margin-top: 0;
}

#pfpImage {
    width: 20vw;
    height: auto;
    margin-left: 50px;
    border-radius: 100px;
    border-radius: 30%; 
    box-shadow: 0 0 50px 10px var(--primary-color);
    animation: glow 2s ease-in-out infinite;
}

.animatedTextContainer,
.animatedTextContainerSub {
    margin: 0;
    padding: 0;
}

.animatedTextContainer {
  display: inline-block;
  height: 0;
  align-self: center;
}

.animatedTextContainerSub {
    display: inline-block;
    height: 0;
    align-self: center;
}

.animatedText {
    font-size: 3vw;
    letter-spacing: 4px;
    font-family: var(--font-family);
    width: 0;
    color: greenyellow;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(22) 1s forwards,
    .4s steps(24) alternate;
}

.animatedTextSub {
    font-size: 1.2em;
    letter-spacing: 2.5px;
    color: green;
    font-family: var(--font-family);
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(21) 4s forwards,
    .4s step-end infinite alternate;
}


/* project section css ************************************************************************/

#project-heading {
   font-size: 5vw;
   margin-top: 5vw;
   padding-top: 5vw;
   color: #fff;
   text-align: center;
   font-family: var(--font-family);
}

.project-section-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    gap: 30px;
}

.project-div {
    height: 550px;
    width: 300px;
    border-radius: 20px;
    background-color: var(--secondary-color);
    justify-content: space-between;
    overflow: hidden;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    transition: opacity 0.5s ease;
    position: relative;
    flex-direction: column;
    
}

.project-div:hover {
    box-shadow: 0 0 40px 2px var(--primary-color);
    transition-delay: 0.02s;
}


.stand-out-effect {
    opacity: 0.5; 
}

.project-div:hover .stand-out-effect {
    opacity: 0.3; 
}

#projectImg {
    width: 100%;
    height: 20em; 
    display: block;
    margin-top: 0;
}

.project-title {
    font-size: 20px;
    margin-top: 0;
    font-family: var(--font-family);
    text-align: center;
    background-color: var(--secondary-color-dark);
}

.project-description {
    font-size: 12px;
    padding: 10px;
    font-family: var(--font-family);
}

.github-link {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    border: rgb(204, 203, 203) 5px solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    cursor: pointer;
}

.github-link:hover {
    border: var(--primary-color-light) 5px solid;
}


.github-link-text {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-family: var(--font-family);
}

.githubImg {
    background-color: bisque;
    height: 20px;
    width: 20px;
    border-radius: 50%;  
    margin-left: 5px;
}





/* Tech Stack section css ********************************************************************/

#tech-stack-heading {
    font-size: 5vw;
    margin-top: 5vw;
    padding-top: 5vw;
    color: #fff;
    text-align: center;
    font-family: var(--font-family);
 }

.tech-stack-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#tech-stack {
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 80%;
    height: auto; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 3vw; 
    background-color: rgb(19, 1, 1);
    border-radius: 20px;
    /* border: 10px solid gray; */
}

#tech-stack:hover {
    /* border: 10px solid var(--secondary-color);  */
    /* animation: inner-glow 2s ease-in; */
    box-shadow: inset 0 0 20px 50px var(--primary-color-light);
}

.techStackImg {
    height: 50px; 
    width: auto; 
    margin: 5px; 
}









/* animations ***************************************************/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; 
    }
}


@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 var(--primary-color);
    }
    50% {
        box-shadow: 0 0 20px 10px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 10px 0 var(--primary-color);
    }
}

@keyframes inner-glow {
    0% {
        box-shadow: inset 0 0 20px 10px white; /* Starting state of the glow */
    }
    100% {
        box-shadow: inset 0 0 20px 120px white; /* Mid-state with larger glow */
    }
    /* 100% {
        box-shadow: inset 0 0 20px 10px white;
    } */
}