:root {
    --nav-color: #5252dd;
    --primary-color: #d1d1ff;
    --primary-color-light: #e6e6e6;
    --secondary-color-dark: #525860;
    --secondary-color: #5f6569;
    --project-secondary-color-dark: #34373a;
    --project-secondary-color: #424649;

}
/* 
:root {
    --nav-color: #6fbd72;
    --primary-color: #152716;
    --primary-color-light: #e6e6e6;
    --secondary-color-dark: #525860;
    --secondary-color: #5f6569;
    --project-secondary-color-dark: #34373a;
    --project-secondary-color: #424649;
    --intro-primary-color: #aad8ab;
    --intro-secondary-color: #8cca8e;
} */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, ul {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}


/* nav ***************************************************************************************************************************************************/


#nav {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: transparent;
}

nav ul li {
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.4s ease-in-out;
}

nav ul li a:hover {
    background-color: var(--nav-color);
}











/* top-image ***************************************************************************************************************************************************/
.attached-div {
    flex: 1;
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
    width: 100%;
    height: 450px;
    background-image: url('../assets/img/back1.jpg');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    margin-top: 0;
}

#pfpImage {
    width: 20vw;
    height: auto;
    margin-right: 50px;
    border-radius: 100px;
    border-radius: 30%; 
    box-shadow: 0 0 50px 10px var(--primary-color);
    animation: glow 2s ease-in-out infinite;
}



/* intro-text ***************************************************************************************************************************************************/

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animatedGradientText {
  font-size: 5vw;
  font-weight: bold;
  background: linear-gradient(270deg, #6fbd72, #aad8ab, #8cca8e, #a3a3ff);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s ease infinite;
}

/* old effect for intro text */
/* .animatedTextContainer,
.animatedTextContainerSub {
    margin-left: 3vw;
    padding: 0;
}
  
.animatedText {
    font-size: 5vw;
    letter-spacing: 4px;
    font-weight: bold;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(23) 1s forwards;
    background-image: linear-gradient(to right, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.animatedTextContainer {
    display: inline-block;
    height: 0;
    align-self: center;
}  */

/* new glitch effect for intro text */
.animatedTextContainer {
    margin-left: 3vw;
    padding: 0;
    display: inline-block;
    align-self: center;
    overflow: hidden;
    position: relative;
}

.animatedText {
    font-size: 5vw;
    letter-spacing: 4px;
    font-weight: bold;
    white-space: nowrap;
    /* background-image: linear-gradient(to right, #ff8a00, #e52e71); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    z-index: 1;
    animation: glitch-skew 2s infinite;
}

.animatedText::before,
.animatedText::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(to right, #6fbd72, #a3a3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    clip-path: inset(0 0 0 0);
}

.animatedText::after {
    z-index: -2;
    animation: glitch-2 1.5s infinite linear alternate-reverse;
    color: blue;
    opacity: 0.6;
    transform: scale(1.02);
}

.animatedText::after {
    z-index: -2;
    animation: glitch-4 1.5s infinite linear alternate-reverse;
    color: blue;
    opacity: 0.6;
    transform: scale(1.02);
}


@keyframes glitch-1 {
    0% {
        clip-path: inset(20% 0 75% 0);
        transform: translate(-3px, -3px) skewX(-10deg);
    }
    10% {
        clip-path: inset(0 0 85% 0);
        transform: translate(3px, 3px) skewX(10deg);
    }
    20% {
        clip-path: inset(15% 0 70% 0);
        transform: translate(-2px, -2px);
    }
    30% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(3px, 0);
    }
    40% {
        clip-path: inset(25% 0 65% 0);
        transform: translate(-3px, 5px);
    }
    50% {
        clip-path: inset(75% 0 15% 0);
        transform: translate(3px, -5px);
    }
    60% {
        clip-path: inset(5% 0 90% 0);
        transform: translate(-5px, 5px) skewX(-10deg);
    }
    70% {
        clip-path: inset(85% 0 0 0);
        transform: translate(5px, -5px);
    }
    80% {
        clip-path: inset(30% 0 40% 0);
        transform: translate(-3px, 0);
    }
    90% {
        clip-path: inset(65% 0 25% 0);
        transform: translate(0, 3px);
    }
    100% {
        clip-path: inset(10% 0 85% 0);
        transform: translate(3px, -3px);
    }
}

@keyframes glitch-2 {
    0% {
        clip-path: inset(10% 0 70% 0);
        transform: translate(3px, 3px) skewX(5deg);
    }
    10% {
        clip-path: inset(80% 0 0 0);
        transform: translate(-3px, -3px) skewX(-5deg);
    }
    20% {
        clip-path: inset(30% 0 60% 0);
        transform: translate(3px, -3px);
    }
    30% {
        clip-path: inset(55% 0 25% 0);
        transform: translate(-3px, 0);
    }
    40% {
        clip-path: inset(0 0 85% 0);
        transform: translate(5px, 5px);
    }
    50% {
        clip-path: inset(25% 0 65% 0);
        transform: translate(-5px, -5px) skewX(-5deg);
    }
    60% {
        clip-path: inset(60% 0 30% 0);
        transform: translate(5px, 5px) skewX(5deg);
    }
    70% {
        clip-path: inset(90% 0 5% 0);
        transform: translate(-5px, 0);
    }
    80% {
        clip-path: inset(40% 0 45% 0);
        transform: translate(0, -5px);
    }
    90% {
        clip-path: inset(20% 0 75% 0);
        transform: translate(-5px, 5px);
    }
    100% {
        clip-path: inset(60% 0 25% 0);
        transform: translate(5px, -5px);
    }
}


@keyframes glitch-3 {
    0% {
        clip-path: inset(10% 0 85% 0);
        transform: translate(-5px, -5px);
    }
    20% {
        clip-path: inset(85% 0 5% 0);
        transform: translate(5px, 5px);
    }
    40% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(-5px, 0);
    }
    60% {
        clip-path: inset(20% 0 70% 0);
        transform: translate(0, 5px);
    }
    80% {
        clip-path: inset(65% 0 25% 0);
        transform: translate(5px, -5px);
    }
    100% {
        clip-path: inset(10% 0 85% 0);
        transform: translate(-5px, 5px);
    }
}

@keyframes glitch-4 {
    0% {
        clip-path: inset(50% 0 10% 0);
        transform: translate(5px, 5px);
    }
    20% {
        clip-path: inset(10% 0 80% 0);
        transform: translate(-5px, -5px);
    }
    40% {
        clip-path: inset(30% 0 40% 0);
        transform: translate(5px, 0);
    }
    60% {
        clip-path: inset(70% 0 10% 0);
        transform: translate(0, -5px);
    }
    80% {
        clip-path: inset(25% 0 65% 0);
        transform: translate(-5px, 5px);
    }
    100% {
        clip-path: inset(50% 0 10% 0);
        transform: translate(5px, -5px);
    }
} 


 /* experiment */

.animatedTextContainerSub {
    display: inline-block;
    height: 0;
    align-self: center;
}

.animatedTextSub {
    font-size: 1.2em;
    letter-spacing: 2.5px;
    color: var(--primary-color-light);
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(21) 4s forwards;
} 











/* footer ***************************************************************************************************************************************************/


#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2vw 0;
    margin-top: 2vw;
    width: 100%;
    padding-bottom: 6vw;
}

.contactImg {
    height: 3vw;
    width: 3vw;
}

.contactMeDiv {
    padding-top: 4vw;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.contactMeDiv > * {
    flex-basis: calc(33.33% - 20px); 
    margin: 10px; 
}


@media screen and (max-width: 768px) {
    .contactImg {
        height: 8vw; 
        width: 8vw;
    }

    .contactMeDiv > * {
        flex-basis: calc(50% - 20px); 
    }
}


















/* animations ********************************************************************************************************************************************/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; 
    }
}


@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 var(--primary-color);
    }
    50% {
        box-shadow: 0 0 20px 10px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 10px 0 var(--primary-color);
    }
}

@keyframes inner-glow {
    0% {
        box-shadow: inset 0 0 20px 10px white; 
    }
    100% {
        box-shadow: inset 0 0 20px 120px white; 
    }
}