#project-heading {
    font-size: 5vw;
    margin-top: 5vw;
    padding-top: 5vw;
    color: #fff;
    text-align: center;
 }
 
 .project-section-div {
    margin-left: 20%;
    margin-right: 20%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-top: 100px;
     gap: 30px;
 }
 
 .project-div {
     height: 600px;
     width: 300px; /*300*/
     border-radius: 20px;
     background-color: var(--project-secondary-color);
     justify-content: space-between;
     overflow: hidden;
     transition: border-color 0.3s ease, box-shadow 0.3s ease;
     transition: opacity 0.5s ease;
     position: relative;
     flex-direction: column;
     align-items: flex-start;
 }
 
 .project-div:hover {
     box-shadow: 0 0 40px 2px var(--primary-color);
     transition-delay: 0.02s;
 }
 
 
 .stand-out-effect {
     opacity: 0.5; 
 }
 
 .project-div:hover .stand-out-effect {
     opacity: 0.3; 
 }
 
 #projectImg {
     width: 100%;
     height: 18em; 
     display: block;
     margin-top: 0;
 }
 
 .project-title {
     font-size: 20px;
     margin-top: 0;
     padding-top: 5px;
     padding-bottom: 5px;
     text-align: center;
     background-color: var(--secondary-color-dark);
     color: var(--primary-color-light);
 }
 
 .project-description {
     font-size: 13px;
     padding: 10px;
     color: #c8c8c8;
 }
 
 .github-link {
     height: 30px;
     width: 100px;
     border-radius: 20px;
     border: rgb(204, 203, 203) 5px solid;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: auto;
     position: absolute;
     bottom: 20px; 
     left: 50%; 
     transform: translateX(-50%); 
     cursor: pointer;
 }
 
 .github-link:hover {
     border: var(--primary-color-light) 5px solid;
 }
 
 
 .github-link-text {
     font-size: 12px;
     font-weight: 600;
     display: inline-block;
     text-align: center;
 }
 
 .githubImg {
     background-color: bisque;
     height: 20px;
     width: 20px;
     border-radius: 50%;  
     margin-left: 5px;
 }

  .playStoreImg {
     height: 15px;
     width: 15px;
     margin-left: 5px;
 }